/* ctrl + maj + R*/
body {
	background-color:#abd9e9;
  	font-family:Arial;
	/*max-width: 1024px;				//mieux on prend toute la page
	min-width: 800px;*/
	margin: auto;
	border-right: solid 2px black;
	border-left: solid 2px black;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

aside ul{
  padding-left:0;
  margin:0;
  list-style-type:none;
  overflow-y:scroll;
  margin-bottom: 10px;
  /*height:690px;*/
}

img.pokeball{
	width : 10%;
}

img#inscription{
	width : 200px;
}

img#energiepp{
	width: 40%;
}

header {
	text-align: center;
	border-top: solid 2px blue;
	padding: 20px;
	border-bottom: solid 2px blue;
	display: flex;
	justify-content: center; 
	align-items: center;
	gap: 10px 50px;
}

h1{
	padding : 30 ;
}

h2{
	text-align: center;
	text-decoration: underline 1px black;
}

h3{
	text-align: center;
}


div.center{
	margin: 20px;
	margin-right: 150px;
}

div.chat{
	flex-grow: 1;
}

div#place{
	display: flex;
	flex-direction: column;
	margin: 0px;
}

div#write{
	align-self: flex-end;
	flex-direction: column;
}

div.discu{
	border: solid 1px darkcyan;
	width: 100%;
}

div.boite_parametre{
	margin : 10px;
	background-color: lightgrey;
	border: solid 2 darkgrey;
	
}

aside.list{
	width: 15%;
	border-right-color: black;
	border-right-width: 1px;
	border-right-style: solid;
	margin-right: 20px;
	padding-bottom: 20px;
}

div#main{
	padding: 0px 20px;
	display: flex;
	flex-grow: 1;
	flex-direction: row;
}

div#inscription{
	margin: 20px;
	width: 1200PX;
}

div.boite_user{
	border: solid 3px red;
	margin-top: 5px;
	margin-left: -10px;
	margin-right: 10px;
}

div.region{
	border:  solid 1px darkseagreen;
	padding: 5px;
	margin-right: 20px;
	height: 25px;
	display: flex;
	justify-content: center;
	gap: 0px 20px;
}

div.log{
	margin: 0px 20px;
}

div.log2{
	display: flex;
	align-items: flex-end;
}

img.molette{
	width: 20px;
}

div.parametre{
	display: flex;
	justify-content: center;
	align-items: center;
}
div.parametre:hover {
	cursor: pointer;
}

form#newmess{
	width: 800px;
}

div#spinner.hidden {
	display: none;
}

