/* ctrl + maj + R*/
body {
	background-color:#abd9e9;
  	font-family:monospace;
	/*max-width: 1024px;				//mieux on prend toute la page
	min-width: 800px;*/
	margin: auto;
	border-right: solid 2px black;
	border-left: solid 2px black;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

aside ul{
	height: 250px;
  	padding-left: 0;
	margin: 0;
 	margin-bottom: 0px;
	list-style-type: none;
	overflow-y: scroll;
	margin-bottom: 10px;
	border: solid 1px rgb(71 85 105);
}

img.pokeball{
	width : 4%;
}

img#inscription{
	width : 200px;
}

img#energiepp{
	width: 40%;
	text-align:center;
    margin:auto;
    display:flex;
}

header {
	text-align: center;
	border-top: solid 2px blue;
	padding: 10px;
	border-bottom: solid 2px blue;
	display: flex;
	justify-content: center; 
	align-items: center;
	gap: 10px 50px;
	background-color: rgb(71 85 105);
}

h1{
	padding : 30 ;
}

h2{
	text-align: center;
	text-decoration: underline 1px black;
}

h3{
	text-align: center;
}

#name-channel{
	background-color: rgb(51 65 85);
}

div.center{
	margin: 20px;
	margin-right: 150px;
}

div.chat{
	flex-grow: 1;
}

div#place{
	width: auto;
	display: flex;
	flex-direction: column;
	margin: 0px;
}

div#write{
	align-self: flex-end;
	flex-direction: column;
}

div.discu{
	border: solid 1px darkcyan;
	width: 100%;
}

div.boite_parametre{
	margin : 10px;
	background-color: lightgrey;
	border: solid 2 darkgrey;
	
}

aside.list{
	padding: 0px 20px;
	border-right-color: black;
	border-right-width: 1px;
	border-right-style: solid;
	margin-right: 20px;
	padding-bottom: 20px;
	width: 250px;
}

div#main{
	display: flex;
	flex-grow: 1;
	flex-direction: row;
}

div#inscription{
	margin: 20px;
	width: 1200PX;
}

div.boite_user{
	border: groove 5px rgb(75 85 99);
	margin-top: 10px;
	margin-left: -10px;
	margin-right:-5px;
	padding: 10px;
}

div#util{
	display: flex;
}

div.region{
	border:  solid 1px rgb(51 65 85);
	padding: 5px;
	margin-right: 20px;
	height: 30px;
	display: flex;
	justify-content: center;
	gap: 0px 20px;
}

div.region:hover{
  background-color:#5e616a;
}

div.log{
	margin: 0px 20px;
}

div.log2{
	display: flex;
	align-items: flex-end;
}

img.molette{
	width: 20px;
}

div.parametre{
	display: flex;
	justify-content: center;
	align-items: center;
}
div.parametre:hover {
	cursor: pointer;
}

form#newmess{
	width: 800px;
}

div#spinner.hidden {
	display: none;
}

aside{
  background-color: rgb(156 163 175);
  display:inline-block;
  font-size:15px;
  vertical-align:top;
}

#RuC{
	width: 185px;
}

/*button#valider{
	width: 30px;
	height: 30px;
	justify-content: center;
	align-items: center;
}*/





* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}





aside footer{
	margin: -10px
}

